<div class="app-task-list-demo-inputs">
  <form [formGroup]="taskListForm">
    <mat-form-field hyFormField>
      <mat-label>App Id</mat-label>
      <input matInput [formControl]="taskAppId" data-automation-id="appId input" />
      <mat-error *ngIf="taskAppId.hasError('pattern')"> App ID must be a number </mat-error>
    </mat-form-field>

    <mat-form-field hyFormField>
      <mat-label>Task Name</mat-label>
      <input matInput [formControl]="taskName" data-automation-id="task name" />
    </mat-form-field>

    <mat-form-field hyFormField>
      <mat-label>Task Id</mat-label>
      <input matInput [formControl]="taskId" data-automation-id="task id" />
    </mat-form-field>

    <mat-form-field hyFormField>
      <mat-label>Start</mat-label>
      <input matInput data-automation-id="start" title="Starting page" [formControl]="taskStart" />
      <mat-error *ngIf="taskStart.hasError('pattern')"> Value must be a number </mat-error>
    </mat-form-field>

    <mat-form-field hyFormField>
      <mat-label>ProcessDefinitionId</mat-label>
      <input matInput class="form-control" [formControl]="taskProcessDefinitionId" data-automation-id="process definition id" />
      <mat-hint>E.g. SimpleProcess:1:2</mat-hint>
    </mat-form-field>

    <mat-form-field hyFormField>
      <mat-label>ProcessInstanceId</mat-label>
      <input matInput class="form-control" [formControl]="taskProcessInstanceId" data-automation-id="process instance id" />
      <mat-hint>E.g. 12345</mat-hint>
    </mat-form-field>

    <mat-form-field data-automation-id="items per page" hyFormField>
      <mat-label>Items per page</mat-label>
      <input matInput class="form-control" [formControl]="taskSize" data-automation-id="items per page" />
      <mat-error *ngIf="taskSize.hasError('min')">
        {{ 'Value must be greater than or equal to ' + minValue }}
      </mat-error>
      <mat-error *ngIf="taskSize.hasError('pattern')"> Value must be a number </mat-error>
    </mat-form-field>

    <mat-form-field data-automation-id="page" hyFormField>
      <mat-label>Page</mat-label>
      <input matInput class="form-control" [formControl]="taskPage" data-automation-id="page" />
      <mat-error *ngIf="taskPage.hasError('min')">
        {{ 'Value must be greater than or equal to ' + minValue }}
      </mat-error>
      <mat-error *ngIf="taskPage.hasError('pattern')"> Value must be a number </mat-error>
    </mat-form-field>

    <mat-form-field hyFormField>
      <mat-label>Due After</mat-label>
      <input
        matInput
        class="form-control"
        [matDatepicker]="pickerAfter"
        placeholder="Choose a date"
        [formControl]="taskDueAfter"
        data-automation-id="due after"
      />
      <mat-datepicker-toggle matSuffix [for]="pickerAfter"></mat-datepicker-toggle>
      <mat-datepicker #pickerAfter></mat-datepicker>
    </mat-form-field>
    <mat-form-field hyFormField>
      <mat-label>Due Before</mat-label>
      <input
        matInput
        class="form-control"
        [matDatepicker]="pickerBefore"
        placeholder="Choose a date"
        [formControl]="taskDueBefore"
        data-automation-id="due before"
      />
      <mat-datepicker-toggle matSuffix [for]="pickerBefore"></mat-datepicker-toggle>
      <mat-datepicker #pickerBefore></mat-datepicker>
    </mat-form-field>

    <mat-form-field hyFormField>
      <mat-label>Process Instance</mat-label>
      <mat-select [formControl]="taskIncludeProcessInstance">
        <mat-option *ngFor="let includeProcessInstanceOption of includeProcessInstanceOptions" [value]="includeProcessInstanceOption.value"
          >{{ includeProcessInstanceOption.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field hyFormField>
      <mat-label>Assignment</mat-label>
      <mat-select [formControl]="taskAssignment">
        <mat-option *ngFor="let assignmentOption of assignmentOptions" [value]="assignmentOption.value">{{ assignmentOption.title }} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field data-automation-id="state" hyFormField>
      <mat-label>State</mat-label>
      <mat-select [formControl]="taskState" data-automation-id="selected state">
        <mat-option *ngFor="let stateOption of stateOptions" [value]="stateOption.value">{{ stateOption.title }} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field data-automation-id="sort" hyFormField>
      <mat-label>Sort</mat-label>
      <mat-select [formControl]="taskSort" data-automation-id="selected sort">
        <mat-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">{{ sortOption.title }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div class="app-reset-button">
  <button mat-flat-button (click)="resetTaskForm()">Reset</button>
</div>

<hy-content-list [dataSource]="paginatedData">
  <hy-content-list-column propertyName="id" [sortable]="true" label="Id"></hy-content-list-column>
  <hy-content-list-column [fixedWidth]="'150px'" propertyName="assignee" label="Assignee" class="adf-full-width app-name-column">
    <ng-container *hyContentListCell="let row">
      <div class="content-list-item--blue">{{ row.assignee | fullName }}</div>
    </ng-container>
  </hy-content-list-column>
  <hy-content-list-column [fixedWidth]="'150px'" propertyName="name" label="Name"></hy-content-list-column>
  <hy-content-list-column propertyName="description" label="Description"></hy-content-list-column>
  <hy-content-list-column propertyName="created" label="Created">
    <ng-container *hyContentListCell="let row">
      <div class="content-list-item--blue">{{ row.created | adfLocalizedDate : 'MMM d, yyyy' }}</div>
    </ng-container>
  </hy-content-list-column>
  <hy-content-list-column propertyName="dueDate" label="Due Date" type="date">
    <ng-container *hyContentListCell="let row">
      <div class="content-list-item--blue">{{ row.dueDate | adfLocalizedDate : 'MMM d, yyyy' }}</div>
    </ng-container>
  </hy-content-list-column>
  <hy-content-list-column propertyName="processInstanceId" label="Process Instance Id"></hy-content-list-column>
  <hy-content-list-column propertyName="processDefinitionId" label="Process Definition Id"></hy-content-list-column>
</hy-content-list>

<hy-pagination [length]="data.length" [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[10, 50, 100]" (page)="paginate($event)"> </hy-pagination>
